.book-store {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #3d9970;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #04c773;
    cursor: pointer;
}
